<html lang="en">

<head>
    <title>Intan Wulandari</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <nav>
        <a href="/">Home</a> |
        <a href="assets/intan.pdf">Download CV</a> |
        <a href="/contac">Contact</a> |
        <a href="/about">About me</a>
    </nav>

    <hr />

    <article>
        <h1>About Me</h1>
        <p>
           Hi, saya adalah mahasiswi yang sedang belajar programmer.
        </p>
        <p>
            Saya mahasiswi semester 4 jurusan manajemen informatika.
        </p>
        <p>
            Saya berdomisili palembang dan hobi saya adalah bermain basket.
        </p>
        <p>
            <video controls>
                <source src="assets/intan.mp4" type="video/mp4"/>
            </video>
        </p>
    </article>

    <hr>
    <footer style="text-align: center;">
        <p>Copyright &copy; 2022 Intan Wulandari.</p>
    </footer>
</body>
</html>