<html>
<head>
    <title>Intan Wulandari</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <nav>
        <a href="/">Home</a> |
        <a href="assets/intan.pdf">Download CV</a> |
        <a href="/contact">Contact</a> |
        <a href="/about">About me</a>
    </nav>

    <hr />

    <header style="text-align: center;">
        <img src="assets/intan.jpeg" width="250" height="250" style="border-radius: 50%;"/>
        <h1>Intan Wulandari</h1>
        <p>(Mahasiswi Polinela)</p>
    </header>

    <hr />

    <article style="max-width: 600px; margin: 3em auto">
    	<h2>Overview</h2>
    	<p>
    		Hi, saya adalah Mahasiswi Politeknik Negeri Lampung
    	</p>
    </article>

    <div style="max-width: 600px; margin: 3em auto">
    	<table border="1" width="100%">
    		<thead>
    			<th>Skil</th>
    			<th>Pengalaman</th>
    		</thead>
    		<body>
    			<tr>
    				<td>
    					<ul>
    						<li>Desain grafis</li>
    						<li>Desain grafis</li>
    						<li>Desain grafis</li>
    					</ul>
    				</td>
    				<td>
    					<ul>
    						<li>lomba basket</li>
    						<li>lomba basket</li>
    						<li>lomba basket</li>
    					</ul>
    				</td>
    			</tr>
    		</body>
    	</table>
    </div>

    <hr>
    <footer style="text-align: center;">
    	<p>Copyright &copy; 2022 Intan Wulandari</p>
    </footer>
</body>
</html>